<!--<nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="background-color:#dfeff3;">-->
  <!--<div class="container topnav" style="background-color:#dfeff3;">-->
    <!--<button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span-->
      <!--class="navbar-toggler-icon"></span></button>-->
    <!--<div class="collapse navbar-collapse" id="navcol-1" style="background-color:#dfeff3;">-->
      <!--<ul class="nav navbar-nav mx-auto">-->
        <!--<li role="presentation" class="nav-item" style="padding-right:40px;padding-left:40px;">-->
          <!--<a id="a_home" href="#" class="nav-link text-uppercase active" style="color: #8f8f8f">HOME</a>-->
        <!--</li>-->
        <!--<li role="presentation" class="nav-item" style="padding-right:40px;padding-left:40px;">-->
          <!--<a id="a_blog" class="nav-link text-uppercase " routerLink="/blog" style="color: #8f8f8f" onclick="function changeClass(param) {-->
            <!--param.className='nav-link text-uppercase active';-->
            <!--var divToChange = document.getElementById('a_home');-->

            <!--divToChange.className = 'nav-link text-uppercase';-->
          <!--}-->
          <!--changeClass(this)">BLOG</a>-->
        <!--</li>-->
        <!--<li role="presentation" class="nav-item" style="padding-right:40px;padding-left:40px;">-->
          <!--<a class="nav-link text-uppercase " style="color: #8f8f8f">CONTACTO</a>-->
        <!--</li>-->
        <!--<li role="presentation" class="nav-item" style="padding-right:40px;padding-left:40px;"><a href="#"-->
                                                                                                  <!--class="nav-link text-uppercase "-->
                                                                                                  <!--style="color: #8f8f8f">ABOUT-->
          <!--US</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


<router-outlet></router-outlet>
